<div class="console-bg">
    <div class="terminal-container">
        <noscript>ERROR::JAVASCRIPT IS TURNED OFF OR NOT INSTALLED</noscript>
        <code class="command-line"></code>
        <div id="dummy"></div>
    </div>
    <!--Dynamic length finder-->
    <div id="lengther" class="bottom-div"></div>
</div>

<app-keyboard></app-keyboard>
<!--Function Case Switches-->
<div style="display: none;">
    <button class="switch-case" value="0"></button>
    <button class="switch-one" value="0">typewriter</button>
    <button class="switch-two" value="0">keyboard</button>
    <button class="switch-theme" value="0">0-dark, 1-light, 2-chrimson, 3-bluescreen</button>
</div>
<!--END OF C-S-->  

<!--File structure-->
<!--Persistent-->
<nav class="files" style="display: none;" id="store">
    <!--Persistent-->
    <li class="readme">This is a html dom based command-line emulation.</li>
    <!--Local--> 


</nav>
<!--END OF F-S-->   
    


  
