<div class="console-bg">
  
  <div class="welcome-message">
    <div>
      <a id="welcome-wrt"></a>
      <a id="welcome-msg"></a>
    </div>
  </div>   

    <div class="terminal-container">
        <noscript>Why, just... why in the world, would you turn JavaScript off?</noscript>
        <code class="command-line command-point"></code>
        <div id="dummy"></div>
    </div>
    <!--Dynamic length finder-->
    <div id="lengther" class="bottom-div"></div>

</div>


 <app-keyboard></app-keyboard>
    
    